html {
  font-family: "Roboto", sans-serif;
  color: white;
}

.header,
footer {
  height: 20vh;
  background-color: rgb(73, 73, 73);
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.header {
  position: sticky;
}

nav {
  background: rgb(255, 119, 109);
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 5%; */
}

main {
  display: flex;
}

section {
  width: 70%;
  height: 60vh;
  padding: 5%;
  color: black;
  display: flex;
  flex-direction: column;
}

footer {
  height: 20vh;
  background-color: rgb(150, 150, 150);
}

h3 {
  padding-top: 20px;
}

section h2 {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 15px;
}

p {
  font-weight: lighter;
}

h1,
h2,
h3 {
  font-size: 40px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}
